<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestione Componenti Meccanici</title>
</head>
<body>
<h1>Gestione Componenti Meccanici</h1>
<nav>
    <ul>
        <li><a th:href="@{/addComponent}">Aggiungi Componente</a></li>
        <li><a th:href="@{/updateComponent}">Aggiorna Componente</a></li>
        <li><a th:href="@{/deleteComponent}">Cancella Componente</a></li>
        <li><a th:href="@{/searchComponent}">Cerca Componente</a></li>
        <li><a th:href="@{/exportCSV}">Esporta Componenti in CSV</a></li>
    </ul>
</nav>
</body>
</html>
